# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-electron
dist-ssr
*-dist
*.local
release
scripts
build
changelogs

# Editor directories and files
.vscode/*
copilot-instructions.md
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.fresh
dev-app-update.yml
**/agent-eval-report*
packages
pids
.file-manifest
.devcontainer/
